.header {
  @include container;
  display: flex;
  height: 64px;
  color: $white;
  background: color('neutral', 20);
  overflow: hidden;
}

.header__logo {
  align-self: center;
  margin-bottom: 0;
  margin-right: spacing(6);
  font-size: $font-size-extra-large;
  font-weight: $font-weight-bold;
  white-space: nowrap;
}


