$_display-values: (
  none
  inline
  inline-block
  block
  table
  table-row
  table-cell
  flex
  inline-flex
);

@each $bp in map_keys($global-breakpoints) {
  @include mq-up($bp) {
    $suffix: mq-suffix($bp);

    @each $value in $_display-values {
      .u#{$suffix}-d-#{$value} {
        display: $value !important;
      }
    }
  }
}
