{
  "presets": [
    ["@babel/preset-env", {
      "useBuiltIns": "usage"
    }],
    "@babel/preset-react",
    "@babel/preset-stage-2"
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "react-hot-loader/babel"
  ]
}
