.Analysis {
  table-layout: fixed;
  border-collapse: collapse;
  width: 900px;

  th {
    text-align: inherit;
    cursor: pointer;
    user-select: none;
  }

  td, th {
    padding: spacing(3) spacing(5);
    border: 1px solid color("neutral", 80);
  }
}
