.Poll {
  max-width: 750px;
  line-height: 1.25;
}

.PollTotal {
  margin-top: spacing(3);
  text-align: right;
}

.PollChoice {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  & + & {
    margin-top: spacing(6);
  }
}

.PollChoiceText {
  flex: 1 1 80%;
}

.PollChoiceCount {
  flex: 1 0 auto;
  margin-left: spacing(3);
  text-align: right;
}

.PollIndicator {
  flex: 1 0 100%;
  height: 12px;
  margin-top: spacing(2);
  background-color: color('accent', 90);

  > div {
    display: block;
    height: 100%;
    background-color: color('accent', 40);
    content: "";
  }
}
