//
// Spacing
//

// Generate margin & padding utilities from the unit list specified in `_settings.spacing.scss`.
//
// m-{side}-{size}-{breakpoint}
//
// {side} – Optional. t: top, r: right, b: bototm, l: left, x: left+right, y: top+bottom
// {size} - Defined by spacing unit list in `_settings.spacing.scss`, or `auto` (margin only).
// {breakpoint}: Optional. One of the breakpoints specified in `_settings.breakpoints.scss`. No need to specify `xs`.
//
// Example:
//
// .m-2      ->  margin: 8px
// .pl-0-sm  ->  padding: 0; from `sm` and up
// .mx-auto  ->  margin: 0 auto;

$_spacing-directions: (
  null: null,
  -top: t,
  -right: r,
  -bottom: b,
  -left: l,
  (-left, -right): x,
  (-top, -bottom): y
);

@each $bp in map_keys($global-breakpoints) {
  $suffix: mq-suffix($bp);

  @include mq-up($bp) {
    @each $direction, $abbr in $_spacing-directions {
      @each $key, $size in map_merge($spacing, (auto: auto)) {
        .u#{$suffix}-m#{$abbr}-#{$key} {
          @each $prop in $direction {
            margin#{$prop}: $size !important;
          }
        }
      }

      @each $key, $size in $spacing {
        .u#{$suffix}-p#{$abbr}-#{$key} {
          @each $prop in $direction {
            padding#{$prop}: $size !important;
          }
        }
      }
    }
  }
}
