// ========================================================================
//
// Text
//
// ========================================================================

/* stylelint-disable block-opening-brace-space-before */

//
// Sizes
//

.u-text-small        { font-size: $font-size-small; }
.u-text-base         { font-size: $font-size-base; }
.u-text-large        { font-size: $font-size-large; }
.u-text-extra-large  { font-size: $font-size-extra-large; }


//
// Line height
//

.u-text-leading-normal { line-height: $line-height-tight !important; }
.u-text-leading-tight  { line-height: $line-height-base !important; }
.u-text-leading-loose  { line-height: $line-height-loose !important; }


//
// Alignment
//

@each $bp in map_keys($global-breakpoints) {
  $suffix: mq-suffix($bp);

  @include mq-up($bp) {
    @each $direction in left, right, center {
      .u-text-#{$direction}#{$suffix} {
        text-align: $direction !important;
      }
    }
  }
}


//
// Weights
//

//.u-text-weight-light    { font-weight: $font-weight-light !important; }
.u-text-weight-normal   { font-weight: $font-weight-normal !important; }
.u-text-weight-semibold { font-weight: $font-weight-semibold !important; }
//.u-text-weight-bold     { font-weight: $font-weight-bold !important; }


//
// Transformation
//

.u-text-lowercase  { text-transform: lowercase !important; }
.u-text-uppercase  { text-transform: uppercase !important; }
.u-text-capitalize { text-transform: capitalize !important; }


//
// White space and wrapping behavior
//

.u-text-ellipsis {
  @include text-ellipsis;
}

.u-text-nowrap {
  white-space: nowrap !important;
}
