//
// Generate color utilities from `$_global-colors`
//
// .u-color-primary
// .u-color-error-40
// .u-color-accent-60:hover

@each $global-color, $base-color in $_global-colors {

  // If the color links to a list of variants from $_palette_colors
  @if type-of($base-color) == string and map_has_key($_palette-colors, $base-color) {
    @each $pointer, $value in map-get($_palette-colors, $base-color) {
      $index: if($pointer == 50, "", -#{$pointer});

      .u-color-#{$global-color}#{$index} {
        color: $value !important;
      }

      .u-color-#{$global-color}#{$index}\:hover:hover {
        color: $value !important;
      }

      .u-bg-color-#{$global-color}#{$index} {
        background-color: $value !important;
      }

      .u-bg-color-#{$global-color}#{$index}\:hover:hover {
        background-color: $value !important;
      }
    }
  }

  // If value is just a color
  @else {
    .u-color-#{$global-color} {
      color: $base-color !important;
    }

    .u-color-#{$global-color}\:hover:hover {
      color: $base-color !important;
    }

    .u-bg-color-#{$global-color} {
      background-color: $base-color !important;
    }

    .u-bg-color-#{$global-color}\:hover:hover {
      background-color: $base-color !important;
    }
  }
}


