// ========================================================================
//
// Typography
//
// ========================================================================


//
// Headings
//

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: $heading-line-height;
}

h1, .h1 {
  font-size: $h1-font-size;
  font-weight: $h1-font-weight;
}

h2, .h2 {
  font-size: $h2-font-size;
  font-weight: $h2-font-weight;
}

h3, .h3 {
  font-size: $h3-font-size;
  font-weight: $h3-font-weight;
}

h4, .h4 {
  font-size: $h4-font-size;
  font-weight: $h4-font-weight;
}

h5, .h5 {
  font-size: $h5-font-size;
  font-weight: $h5-font-weight;
}


//
// Paragraphs
//

p {
  margin-top: 0;
  margin-bottom: 1rem;
}


//
// Lists
//

ul, ol {
  padding: 0;
  margin-left: 2rem;
}


//
// Horizontal rule
//

hr {
  margin: 0 1rem;
}
