.nav {
  display: flex;
  flex-grow: 1;
  align-self: start;
  align-items: stretch;
  padding-bottom: 50px;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  margin-right: -1 * spacing(6);
}

.nav-link {
  padding: spacing(5) spacing(5);
  line-height: spacing(6);
  color: $white;
  text-decoration: none;
  transition: background-color 0.1s ease-in-out;
  //border-left: 1px solid color('primary', 70);
  box-shadow: 0 -4px 0 0 transparent inset;
}

.nav-link:hover {
  background-color: rgba($white, 0.07);
}

.nav-link:active {
}

.nav-link.is-active {
  background-color: rgba(#de5f16, 0.6);
}

// TODO: Figure out nice colors for :hover/:active/.is-active states
