.Meta {
  display: flex;
  align-items: flex-start;
  font-size: $font-size-small;
  line-height: spacing(5);
  color: color("neutral", 40);

  &.small {
    font-size: $font-size-extra-small;
  }

  // Anything that's not a direct child and a link gets a left border and spacing.
  // Basically I'm excluding the comment link here. I know; I'm sorry.
  > :not(:first-child):not(a) {
    margin-left: spacing(2);
    padding-left: spacing(2);
    border-left: 1px solid color("neutral", 50);
  }
}

.Meta a {
  color: inherit;
  transition: opacity 0.1s ease-in-out;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.7;
  }
}

.MetaItem {
  white-space: nowrap;
}

.Score {
  font-weight: $font-weight-semibold;
}

// Truncate the username when there's no enough space
.Author {
  overflow: hidden;
  text-overflow: ellipsis;
}
