// ========================================================================
//
// Colors
//
// ========================================================================


//
// Private map of palette colors with tints and shades. Base color is 50.
//

$black: #000;
$white: #fff;

$_palette-colors: (

  "gray": (
    10: #323232,
    20: #474747,
    30: #646464,
    40: #777,
    50: #a1a1a1,
    60: #c8c8c8,
    70: #d7d7d7,
    80: #e7e7e7,
    90: #fafafa
  ),

  "orange": (
    10: hsl(22, 84%, 55%),
    20: hsl(22, 84%, 55%),
    30: hsl(22, 84%, 55%),
    40: hsl(22, 84%, 55%),
    50: hsl(22, 84%, 55%),
    60: hsl(22, 82%, 58%),
    70: hsl(22, 81%, 62%),
    80: hsl(21, 78%, 72%),
    90: hsl(25, 74%, 84%)
  ),

  "blue": (
    10: hsl(201, 52%, 20%),
    20: hsl(200, 44%, 26%),
    30: hsl(201, 35%, 34%),
    40: hsl(200, 30%, 42%),
    50: hsl(199, 25%, 50%),
    60: hsl(198, 30%, 58%),
    70: hsl(198, 37%, 67%),
    80: hsl(196, 46%, 76%),
    90: hsl(193, 66%, 85%),
  )

);


//
// Global brand and contextual colors.
// A value can be a color, or a string referencing an item in $_palette_colorl
//

$_global-colors: (
  "primary": "orange",
  "accent":  "blue",
  "neutral": "gray",
  "light":   $white,
  "dark":    $black
);






