// ========================================================================
//
// Colors
//
// ========================================================================

/* stylelint-disable function-max-empty-lines, value-list-max-empty-lines */

//
// Private map of palette colors with tints and shades. Base color is 50.
//

$black: #000;
$white: #fff;

$_palette-colors: (

  "gray": (
    10:  #282828,
    20:  #393939,
    30:  #525252,
    40:  #636363,
    50:  #777,
    60:  #939393,
    70:  #b3b3b3,
    80:  #cfcfcf,
    90:  #dedede,
    100: #ebebeb,
    110: #fafafa,
  ),

  "orange": (
    10: hsl(33, 98%, 14%),
    20: hsl(33, 98%, 25%),
    30: hsl(33, 98%, 36%),
    40: hsl(33, 98%, 46%),
    50: #ed732c,
    60: hsl(33, 98%, 68%),
    70: hsl(33, 98%, 83%),
    80: hsl(33, 98%, 90%),
    90: hsl(33, 98%, 97%)
  ),

  "blue": (
    10: #205b86,
    20: #2675a7,
    30: #368cc9,
    40: #4b9fdb,
    50: #63b4eb,
    60: #89c4e8,
    70: #a7d1eb,
    80: #bedaeb,
    90: #d7e5ee,
  ),

);


//
// Global brand and contextual colors.
// A value can be a color, or a string referencing an item in $_palette_colorl
//

$_global-colors: (
  "primary": "orange",
  "accent":  "blue",
  "neutral": "gray",
  "light":   $white,
  "dark":    $black
);

