// ========================================================================
//
// Colors
//
// ========================================================================

/* stylelint-disable function-max-empty-lines, value-list-max-empty-lines */

//
// Private map of palette colors with tints and shades. Base color is 50.
//

$black: #000;
$white: #fff;

$_palette-colors: (

  "gray": (
    10:  #282828,
    20:  #393939,
    30:  #525252,
    40:  #636363,
    50:  #777,
    60:  #939393,
    70:  #b3b3b3,
    80:  #cfcfcf,
    90:  #dedede,
    100: #ebebeb,
    110: #fafafa,
  ),

  "orange": (
    10: hsl(33, 98%, 14%),
    20: hsl(33, 98%, 25%),
    30: hsl(33, 98%, 36%),
    40: hsl(33, 98%, 46%),
    50: #ed732c,
    60: hsl(33, 98%, 68%),
    70: hsl(33, 98%, 83%),
    80: hsl(33, 98%, 90%),
    90: hsl(33, 98%, 97%)
  ),

  "blue": (
    10: hsl(201, 52%, 20%),
    20: hsl(200, 44%, 26%),
    30: hsl(201, 35%, 34%),
    40: hsl(200, 30%, 42%),
    50: hsl(199, 25%, 50%),
    60: hsl(198, 30%, 58%),
    70: hsl(198, 37%, 67%),
    80: hsl(196, 46%, 76%),
    90: hsl(193, 66%, 85%),
  ),

);


//
// Global brand and contextual colors.
// A value can be a color, or a string referencing an item in $_palette_colorl
//

$_global-colors: (
  "primary": "orange",
  "accent":  "blue",
  "neutral": "gray",
  "light":   $white,
  "dark":    $black
);

