.PostHeader {
  margin-bottom: spacing(8);
}

.PostTitle {
  & > small {
    font-size: $font-size-base;
  }
}

.PostBody {
  margin-bottom: spacing(10);

  p {
    margin-top: 1em;
    margin-bottom: 0;
  }
}
