/*! modern-normalize | MIT License | https://github.com/sindresorhus/modern-normalize */
/* Document
   ========================================================================== */
/**
 * Use a better box model (opinionated).
 */
html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

/**
 * Use a more readable tab size (opinionated).
 */
:root {
  -moz-tab-size: 4;
  tab-size: 4; }

/**
 * Correct the line height in all browsers.
 */
html {
  line-height: 1.15; }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
 */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct height in Firefox.
 */
hr {
  height: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Add the correct text decoration in Chrome, Edge, and Safari.
 */
abbr[title] {
  text-decoration: underline dotted; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Remove the inheritance of text transform in Edge and Firefox.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  padding: 0; }

/**
 * Add the correct vertical alignment in Chrome and Firefox.
 */
progress {
  vertical-align: baseline; }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*,
*::before,
*::after {
  box-sizing: inherit; }

address,
details,
blockquote,
p,
pre,
dl, ol, ul,
figure,
hr,
table,
fieldset {
  margin-top: 0;
  margin-bottom: 1rem; }

body {
  font-family: "Fira Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #474747;
  background-color: #fafafa; }

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.25; }

h1, .h1 {
  font-size: 48px;
  font-weight: 400; }

h2, .h2 {
  font-size: 42px;
  font-weight: 400; }

h3, .h3 {
  font-size: 36px;
  font-weight: 600; }

h4, .h4 {
  font-size: 30px;
  font-weight: 600; }

h5, .h5 {
  font-size: 24px;
  font-weight: 600; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

ul, ol {
  padding: 0;
  margin-left: 2rem; }

hr {
  margin: 0 1rem; }

.header {
  padding-right: 24px;
  padding-left: 24px;
  display: flex;
  height: 64px;
  margin-bottom: 52px;
  color: #fff;
  background: #ed732c;
  overflow: hidden; }
  @media (min-width: 1128px) {
    .header {
      padding-right: calc((100vw - 1080px) / 2);
      padding-left: calc((100vw - 1080px) / 2); } }

.header__logo {
  align-self: center;
  margin-right: 24px;
  transition: opacity 0.1s ease-in-out; }

.header__logo:hover {
  opacity: 0.85; }

.header__logo:active {
  opacity: 0.7; }

.header__logo img {
  display: block; }

.nav {
  display: flex;
  flex-grow: 1;
  align-self: start;
  align-items: stretch;
  padding-bottom: 50px;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  margin-right: -24px; }

.nav-link {
  padding: 20px 20px;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.1s ease-in-out;
  box-shadow: 0 -4px 0 0 transparent inset; }

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.07); }

.nav-link.is-active {
  background-color: rgba(222, 95, 22, 0.6); }

.entry-list {
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 72px; }
  @media (min-width: 1128px) {
    .entry-list {
      padding-right: calc((100vw - 1080px) / 2);
      padding-left: calc((100vw - 1080px) / 2); } }

.entry + .entry {
  margin-top: 24px;
  padding-top: 20px;
  border-top: 1px solid #ccc; }

.entry__title {
  font-size: 20px;
  color: #272727;
  margin-bottom: 12px; }

.entry__link {
  color: #272727;
  text-decoration: none; }

.entry__hostname {
  font-weight: 400;
  margin-left: 4px; }

.entry__meta {
  display: flex;
  font-size: 15px;
  line-height: 20px;
  color: #777; }

.entry__score + .entry__score,
.entry__time + .entry__score,
.entry__user + .entry__score, .entry__score +
.entry__time,
.entry__time +
.entry__time,
.entry__user +
.entry__time, .entry__score +
.entry__user,
.entry__time +
.entry__user,
.entry__user +
.entry__user {
  margin-left: 8px;
  padding-left: 8px;
  border-left: 1px solid #a1a1a1; }

.entry__score {
  font-weight: 600; }

.entry__user-link {
  color: #646464; }

.entry__comments-link {
  display: block;
  position: relative;
  margin-left: auto;
  color: #646464;
  text-decoration: none;
  transition: 0.2s ease-in-out; }
  .entry__comments-link::after {
    vertical-align: middle;
    display: inline-block;
    width: 24px;
    height: 21px;
    margin-left: 8px;
    background-image: url("images/icon-comment.svg");
    content: ''; }

.entry__comments-link:hover {
  opacity: 0.8;
  color: #777; }

.entry__comments-link:active {
  opacity: 0.6; }

.u-position-static {
  position: static !important; }

.u-position-relative {
  position: relative !important; }

.u-position-absolute {
  position: absolute !important; }

.u-position-fixed {
  position: fixed !important; }

.u-position-sticky {
  position: sticky !important; }

.u-z-index-0 {
  z-index: 0 !important; }

.u-z-index-1 {
  z-index: 10 !important; }

.u-z-index-2 {
  z-index: 20 !important; }

.u-z-index-3 {
  z-index: 30 !important; }

.u-z-index-4 {
  z-index: 40 !important; }

.u-z-index-5 {
  z-index: 50 !important; }

.u-z-index-6 {
  z-index: 60 !important; }

.u-z-index-7 {
  z-index: 70 !important; }

.u-z-index-8 {
  z-index: 80 !important; }

.u-z-index-9 {
  z-index: 90 !important; }

.u-z-index-10 {
  z-index: 100 !important; }

.u-text-small {
  font-size: 15px; }

.u-text-base {
  font-size: 18px; }

.u-text-large {
  font-size: 20px; }

.u-text-extra-large {
  font-size: 24px; }

.u-text-leading-normal {
  line-height: 1.25 !important; }

.u-text-leading-tight {
  line-height: 1.5 !important; }

.u-text-leading-loose {
  line-height: 1.75 !important; }

.u-text-weight-normal {
  font-weight: 400 !important; }

.u-text-weight-semibold {
  font-weight: 600 !important; }

.u-text-lowercase {
  text-transform: lowercase !important; }

.u-text-uppercase {
  text-transform: uppercase !important; }

.u-text-capitalize {
  text-transform: capitalize !important; }

.u-text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.u-text-nowrap {
  white-space: nowrap !important; }

.u-color-primary-10 {
  color: #ed732c !important; }

.u-color-primary-10\:hover:hover {
  color: #ed732c !important; }

.u-bg-color-primary-10 {
  background-color: #ed732c !important; }

.u-bg-color-primary-10\:hover:hover {
  background-color: #ed732c !important; }

.u-color-primary-20 {
  color: #ed732c !important; }

.u-color-primary-20\:hover:hover {
  color: #ed732c !important; }

.u-bg-color-primary-20 {
  background-color: #ed732c !important; }

.u-bg-color-primary-20\:hover:hover {
  background-color: #ed732c !important; }

.u-color-primary-30 {
  color: #ed732c !important; }

.u-color-primary-30\:hover:hover {
  color: #ed732c !important; }

.u-bg-color-primary-30 {
  background-color: #ed732c !important; }

.u-bg-color-primary-30\:hover:hover {
  background-color: #ed732c !important; }

.u-color-primary-40 {
  color: #ed732c !important; }

.u-color-primary-40\:hover:hover {
  color: #ed732c !important; }

.u-bg-color-primary-40 {
  background-color: #ed732c !important; }

.u-bg-color-primary-40\:hover:hover {
  background-color: #ed732c !important; }

.u-color-primary {
  color: #ed732c !important; }

.u-color-primary\:hover:hover {
  color: #ed732c !important; }

.u-bg-color-primary {
  background-color: #ed732c !important; }

.u-bg-color-primary\:hover:hover {
  background-color: #ed732c !important; }

.u-color-primary-60 {
  color: #ec7c3c !important; }

.u-color-primary-60\:hover:hover {
  color: #ec7c3c !important; }

.u-bg-color-primary-60 {
  background-color: #ec7c3c !important; }

.u-bg-color-primary-60\:hover:hover {
  background-color: #ec7c3c !important; }

.u-color-primary-70 {
  color: #ed8950 !important; }

.u-color-primary-70\:hover:hover {
  color: #ed8950 !important; }

.u-bg-color-primary-70 {
  background-color: #ed8950 !important; }

.u-bg-color-primary-70\:hover:hover {
  background-color: #ed8950 !important; }

.u-color-primary-80 {
  color: #efa780 !important; }

.u-color-primary-80\:hover:hover {
  color: #efa780 !important; }

.u-bg-color-primary-80 {
  background-color: #efa780 !important; }

.u-bg-color-primary-80\:hover:hover {
  background-color: #efa780 !important; }

.u-color-primary-90 {
  color: #f4d1b8 !important; }

.u-color-primary-90\:hover:hover {
  color: #f4d1b8 !important; }

.u-bg-color-primary-90 {
  background-color: #f4d1b8 !important; }

.u-bg-color-primary-90\:hover:hover {
  background-color: #f4d1b8 !important; }

.u-color-accent-10 {
  color: #183b4e !important; }

.u-color-accent-10\:hover:hover {
  color: #183b4e !important; }

.u-bg-color-accent-10 {
  background-color: #183b4e !important; }

.u-bg-color-accent-10\:hover:hover {
  background-color: #183b4e !important; }

.u-color-accent-20 {
  color: #254c5f !important; }

.u-color-accent-20\:hover:hover {
  color: #254c5f !important; }

.u-bg-color-accent-20 {
  background-color: #254c5f !important; }

.u-bg-color-accent-20\:hover:hover {
  background-color: #254c5f !important; }

.u-color-accent-30 {
  color: #386075 !important; }

.u-color-accent-30\:hover:hover {
  color: #386075 !important; }

.u-bg-color-accent-30 {
  background-color: #386075 !important; }

.u-bg-color-accent-30\:hover:hover {
  background-color: #386075 !important; }

.u-color-accent-40 {
  color: #4b768b !important; }

.u-color-accent-40\:hover:hover {
  color: #4b768b !important; }

.u-bg-color-accent-40 {
  background-color: #4b768b !important; }

.u-bg-color-accent-40\:hover:hover {
  background-color: #4b768b !important; }

.u-color-accent {
  color: #608b9f !important; }

.u-color-accent\:hover:hover {
  color: #608b9f !important; }

.u-bg-color-accent {
  background-color: #608b9f !important; }

.u-bg-color-accent\:hover:hover {
  background-color: #608b9f !important; }

.u-color-accent-60 {
  color: #74a1b4 !important; }

.u-color-accent-60\:hover:hover {
  color: #74a1b4 !important; }

.u-bg-color-accent-60 {
  background-color: #74a1b4 !important; }

.u-bg-color-accent-60\:hover:hover {
  background-color: #74a1b4 !important; }

.u-color-accent-70 {
  color: #8cb7ca !important; }

.u-color-accent-70\:hover:hover {
  color: #8cb7ca !important; }

.u-bg-color-accent-70 {
  background-color: #8cb7ca !important; }

.u-bg-color-accent-70\:hover:hover {
  background-color: #8cb7ca !important; }

.u-color-accent-80 {
  color: #a6cfde !important; }

.u-color-accent-80\:hover:hover {
  color: #a6cfde !important; }

.u-bg-color-accent-80 {
  background-color: #a6cfde !important; }

.u-bg-color-accent-80\:hover:hover {
  background-color: #a6cfde !important; }

.u-color-accent-90 {
  color: #c0e7f2 !important; }

.u-color-accent-90\:hover:hover {
  color: #c0e7f2 !important; }

.u-bg-color-accent-90 {
  background-color: #c0e7f2 !important; }

.u-bg-color-accent-90\:hover:hover {
  background-color: #c0e7f2 !important; }

.u-color-neutral-10 {
  color: #272727 !important; }

.u-color-neutral-10\:hover:hover {
  color: #272727 !important; }

.u-bg-color-neutral-10 {
  background-color: #272727 !important; }

.u-bg-color-neutral-10\:hover:hover {
  background-color: #272727 !important; }

.u-color-neutral-20 {
  color: #474747 !important; }

.u-color-neutral-20\:hover:hover {
  color: #474747 !important; }

.u-bg-color-neutral-20 {
  background-color: #474747 !important; }

.u-bg-color-neutral-20\:hover:hover {
  background-color: #474747 !important; }

.u-color-neutral-30 {
  color: #646464 !important; }

.u-color-neutral-30\:hover:hover {
  color: #646464 !important; }

.u-bg-color-neutral-30 {
  background-color: #646464 !important; }

.u-bg-color-neutral-30\:hover:hover {
  background-color: #646464 !important; }

.u-color-neutral-40 {
  color: #777 !important; }

.u-color-neutral-40\:hover:hover {
  color: #777 !important; }

.u-bg-color-neutral-40 {
  background-color: #777 !important; }

.u-bg-color-neutral-40\:hover:hover {
  background-color: #777 !important; }

.u-color-neutral {
  color: #a1a1a1 !important; }

.u-color-neutral\:hover:hover {
  color: #a1a1a1 !important; }

.u-bg-color-neutral {
  background-color: #a1a1a1 !important; }

.u-bg-color-neutral\:hover:hover {
  background-color: #a1a1a1 !important; }

.u-color-neutral-60 {
  color: #c8c8c8 !important; }

.u-color-neutral-60\:hover:hover {
  color: #c8c8c8 !important; }

.u-bg-color-neutral-60 {
  background-color: #c8c8c8 !important; }

.u-bg-color-neutral-60\:hover:hover {
  background-color: #c8c8c8 !important; }

.u-color-neutral-70 {
  color: #d7d7d7 !important; }

.u-color-neutral-70\:hover:hover {
  color: #d7d7d7 !important; }

.u-bg-color-neutral-70 {
  background-color: #d7d7d7 !important; }

.u-bg-color-neutral-70\:hover:hover {
  background-color: #d7d7d7 !important; }

.u-color-neutral-80 {
  color: #e7e7e7 !important; }

.u-color-neutral-80\:hover:hover {
  color: #e7e7e7 !important; }

.u-bg-color-neutral-80 {
  background-color: #e7e7e7 !important; }

.u-bg-color-neutral-80\:hover:hover {
  background-color: #e7e7e7 !important; }

.u-color-neutral-90 {
  color: #fafafa !important; }

.u-color-neutral-90\:hover:hover {
  color: #fafafa !important; }

.u-bg-color-neutral-90 {
  background-color: #fafafa !important; }

.u-bg-color-neutral-90\:hover:hover {
  background-color: #fafafa !important; }

.u-color-light {
  color: #fff !important; }

.u-color-light\:hover:hover {
  color: #fff !important; }

.u-bg-color-light {
  background-color: #fff !important; }

.u-bg-color-light\:hover:hover {
  background-color: #fff !important; }

.u-color-dark {
  color: #000 !important; }

.u-color-dark\:hover:hover {
  color: #000 !important; }

.u-bg-color-dark {
  background-color: #000 !important; }

.u-bg-color-dark\:hover:hover {
  background-color: #000 !important; }

/*# sourceMappingURL=index.css.map */