//
// 1. Set default box-sizing to border-box globally.
// 2. Prefer antialiased font rendering on OS X/MacOS over the default `subpixel-antialiased`.
//    Results in more consistent type rendering across platforms and design software.
//    At the same time eliminates transform-related font flickering in older Safari versions.
// 3. Setting @viewport causes scrollbars to overlap content in IE11 and Edge, so
//    we force a non-overlapping, non-auto-hiding scrollbar to counteract. (Credit: Bootstrap)


html {
  box-sizing: border-box; // [1]
  -ms-overflow-style: scrollbar; // [3]
  -webkit-font-smoothing: antialiased; // [2]
  -moz-osx-font-smoothing: grayscale; //  [2]
}

*,
*::before,
*::after {
  box-sizing: inherit; // [1]
}

address,
details,
blockquote,
p,
pre,
dl,
ol,
ul,
figure,
hr,
table,
fieldset {
  margin-top: 0;
  margin-bottom: 1rem;
}
