// ========================================================================
//
// Typography
//
// ========================================================================

/* stylelint-disable selector-list-comma-newline-after */


//
// Headings
//
:global {
  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5 {
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: $heading-line-height;
  }

  h1, .h1 {
    font-size: $h1-font-size;
    font-weight: $h1-font-weight;
  }

  h2, .h2 {
    font-size: $h2-font-size;
    font-weight: $h2-font-weight;
  }

  h3, .h3 {
    font-size: $h3-font-size;
    font-weight: $h3-font-weight;
  }

  h4, .h4 {
    font-size: $h4-font-size;
    font-weight: $h4-font-weight;
  }

  h5, .h5 {
    font-size: $h5-font-size;
    font-weight: $h5-font-weight;
  }


  //
  // Paragraphs
  //

  p {
    margin-bottom: 1rem;
  }

  blockquote {
    margin-left: 0;
    padding-left: spacing(2);
    font-style: italic;
    color: color("neutral", 30);
    border-left: 2px solid color("neutral", 80);
  }


  //
  // Lists
  //

  ul, ol {
    margin-left: 2rem;
    padding: 0;
  }


  //
  // Horizontal rule
  //

  hr {
    margin: 0 1rem;
  }


  //
  // Opt-in typography, used for components like Comment, Post, UserPage body text.
  //
  // Body text from API comes as rather incosistenc HTML.
  // This aims to normalize spacing to ensure consistency.

  .text {
    p,
    blockquote,
    pre {
      margin-top: 0.75em;
      margin-bottom: 0.75em;
    }

    // Code block styling
    pre {
      margin: 1em 0 1em;
      padding: spacing(4) spacing(2);
      overflow-x: scroll;
      font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
      font-size: $font-size-extra-small;
      background-color: color("neutral", 100);
      border-radius: 4px;
    }


    a {
      color: color("neutral", 20);
      word-break: break-word;
      transition: opacity 0.1s ease-in-out;

      &:hover { // TODO: Occureneces of this are all over the place and need to be refactored.
        opacity: 0.85;
      }

      &:active {
        opacity: 0.7;
      }
    }
  }

  // Intentionnaly outside of `.text` because of the way `:not` selector works
  :not(pre) > code {
    padding: 1px 6px;
    font-size: $font-size-extra-small;
    color: color("neutral", 10);
    background-color: color("neutral", 100);
    border: 1px solid color("neutral", 90);
    border-radius: 2px;
  }
}
